<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>暨南大学网络技术研讨会</title>
  	<link href="../static/css/home-style.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/flat-ui.css" rel="stylesheet">
    <link href="../static/css/freelancer.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" >
    <link href="../static/css/home-style.css" rel="stylesheet">
    <script src="http://ofhwq2r7f.bkt.clouddn.com/jquery.min.js"></script>
    <script src="http://ofhwq2r7f.bkt.clouddn.com/freelancer.js"></script>
    <script src="http://ofhwq2r7f.bkt.clouddn.com/bootstrap.min.js"></script>
    <script src="http://ofhwq2r7f.bkt.clouddn.com/flat-ui.js"></script>
    <script src="http://ofhwq2r7f.bkt.clouddn.com/respond.min.js"></script>
    <script src="http://ofhwq2r7f.bkt.clouddn.com/jquery.easing.min.js"></script>
    <script src="http://ofhwq2r7f.bkt.clouddn.com/cbpAnimatedHeader.js"></script>
    <script src="jhttp://ofhwq2r7f.bkt.clouddn.com/video.js"></script>
    <script src="http://ofhwq2r7f.bkt.clouddn.com/html5shiv.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.boxgrid.caption').hover(function(){
          $(".cover", this).stop().animate({top:'0px'},{queue:false,duration:300});
        }, function() {
          $(".cover", this).stop().animate({top:'85%'},{queue:false,duration:300});
        });
       });
    </script>

  </head>
  <body class="index " id="the top">
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                  <a class="navbar-brand" href="#the top">
                    <img src="http://ofhwq2r7f.bkt.clouddn.com/logo.png" width="140px" height="auto" >
                  </a>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#video">视频介绍</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#groups">各组介绍</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#menbers">成员介绍</a>
                    </li>
                    <li> 
                        <a href="login">登录报名</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <section id="video" >
      <div class="poster1">
       
          <div class="name">
            <h2 class="span9">暨南大学网络技术研讨会</h2>
            <a class=" btn4" href="http://static.hdslb.com/miniloader.swf?aid=6319334&page=1">
              <span class="glyphicon glyphicon-play-circle"></span>
            </a>
            <a class="navbar-brand btn5"id="down" href="#groups" transition-duration="1s">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </div>
       
      </div>
    </section>
    <section id="groups" class="success">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 style="padding-top:10px">各组介绍</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 text-center tile">
            <h3>媒宣组
              <span class="glyphicon glyphicon-camera"></span>
              
              <!--<img src="images/tech.png" class="img-centered img-icon" alt="">-->
            </h3>
            <h5> 基础学习：Photoshop</h5>
            <h5>（图像处理软件）</h5>
            <h5> 海报，网页UI</h5>
            <h5> 深入学习：  Premiere</h5>
            <h5>（视频编辑软件）</h5>
            <h5> After Effects</h5>
            <h5>（视频合成及特效制作件） </h5>
            <hr class="star-primary">
          </div>
          <div class="col-lg-6 text-center tile">
            <!--<img src="images/tech.png"  class="img-responsive img-centered" alt="">-->
            <h3>技术组
               <span class="glyphicon glyphicon-cloud"></span></h3>
            <h5>基础学习：网页基础设计HTML，CSS</h5>
            <h5>深入学习：web全栈开发</h5>
            <h5>前端JavaScript以及BootStrap框架</h5>
            <h5>后台则是PHP及其框架yii1</h5>
            <h5>python及其框架Flask</h5>
            <h5>还有WAMP服务器的搭建方式</h5>
            <h5>C++，Java，Android,ios开发指导，网络安全入门</h5>
            <hr class="star-primary">         
          </div>
          <div class="col-lg-6 text-center tile">
            <h3>暨妹妹组
              <span class="glyphicon glyphicon-comment"></span></h3>
            <h5>有机会接触到UI</h5>
            <h5>  互联网产品的开发测试，运营，维护等</h5>
            <h5> 有机会学习互联网思维</h5>
            <h5>工作内容：报题 文案 编辑美化</h5>
            <h5> 推送关注后台分析反馈数据</h5>
            <h5> 微博与微信平台日常管理</h5>
            <hr class="star-primary">
          </div>
          <div class="col-lg-6 text-center tile">
            <h3>策划组
              <span class="glyphicon glyphicon-edit"></span>
            </h3>
            <h5>用户分析</h5>
            <h5>  产品策划</h5>
            <h5>  产品策划</h5>
            <h5>  活动策划</h5>
            <h5>  互联网产品运营</h5>
            <h5>  产品经理指导</h5>
            <hr class="star-primary">
          </div>
        </div>
      </div>
    </section>
    <section id="menbers" class="menbers">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 style="padding-top:10px">成员介绍</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="us">
            <div class="span7">
暨妹妹
- 冯歆培
- 苏丹
- 杨舒婷
- 李静远
- 张梅倩
                  </div>
                  <div class="span7">
媒宣组
- 符春桃
- 黄梓威
- 徐泽侯
- 钟佳杰
                  </div>
             <div class="span7">
策划组
-莫雯婷
- 梁颖

                  </div>
                  <div class="span7">
技术组
- 程天阳（Python）
- 陈毅钊（Java/Android/Linux）
- 胡妙（Frontend）
- 吕方（PHP）
- 司徒东麟（Full-stack）
- 郑洋（GameDev）</div>
        </div>
        <div class="row demo-tiles">
          <div class="col-lg-4 ">
            <div class="tile tile-hot span1">
              <div class="boxgrid caption">
                <img class="tile-image" alt="" src="http://ofhwq2r7f.bkt.clouddn.com/ceo.jpg" width="280px" height="400px"/>
                  <div class="cover boxcaption">
                  <h3 class="tile-title">CEO:程天阳</h3>
                  <p class="span3">
    通过Python爱上了编程，
    正式入坑程序员。
    最近又被win坑,遂决定转向linux，
    现在是网研的CEO，
    方向为网页后端Python+Flask，熟悉C,Java。
    编程思想已在心中。
    希望能和大家一起让网研走的更远。
                  </p> 
                  </div>
              </div>
            </div>  
          </div>
        

        <div class="col-lg-4 ">
          <div class="tile tile-hot span1">
            <div class="boxgrid caption">
              <img class="tile-image" alt="" src="http://ofhwq2r7f.bkt.clouddn.com/cdo.jpg" width="280px" height="400px"/>
                <div class="cover boxcaption">
                <h3 class="tile-title">CDO 符春桃</h3>
                <p class="span2">
   会唱歌和配音，做音效后期，
     没事还调教洛天依。
  一个人能包一部耽美广播剧的全部工作……
  媒宣组主要还是带大家从PS学起，
  再接触视频制作和设计，各种办公娱乐，
  媒体软件等你来学，真正生活好助手~
  （我会告诉你们组里想凑人玩桌游？手动微笑）
                </p>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-4 ">
            <div class="tile tile-hot span1">
              <div class="boxgrid caption">
                <img class="tile-image" alt="" src="http://ofhwq2r7f.bkt.clouddn.com/cfo.jpg" width="280px" height="400px"/>
                  <div class="cover boxcaption">
                  <h3 class="tile-title">CFO 梁颖</h3>
                  <p class="span3">
    在入学之初关注了暨妹妹，
    从而了解到网研这个大集体，
    认识了许多有趣的人，
也接触到了各色活动策划。
新学期策划组将会策划出更多新颖有趣的活动，
  专注线上线下的互动，创造出新的产品。
  时话多，时话少；时逗比，时高冷…
  我在网研，期待着你的到来！</p>
                  
                  </div>
              </div>
            </div>  
          </div>

        <div class="col-lg-4 ">
            <div class="tile tile-hot span1">
              <div class="boxgrid caption">
                <img class="tile-image" alt="" src="http://ofhwq2r7f.bkt.clouddn.com/coo.jpg" width="280px" height="400px"/>
                  <div class="cover boxcaption">
                  <h3 class="tile-title">COO 冯歆培</h3>
                  <p class="span3">
    小时候抓阄抓的是笔，
  就注定我会和文字打交道吧。
  没事喜欢写写画画，
  文艺风小清新是最爱
  也喜欢在吃喝玩乐中找灵感。
  欢迎加入网研，
  愿你沉迷其中无法自拔
  以上文字来自网研的小迷妹：冯歆培
  （最爱别人叫我小歆星）</p>
                  </p> 
                  </div>
              </div>
            </div>  
          </div>

           <div class="col-lg-4 ">
            <div class="tile tile-hot span1">
              <div class="boxgrid caption">
                <img class="tile-image" alt="" src="http://ofhwq2r7f.bkt.clouddn.com/cto.jpg" width="280px" height="400px"/>
                  <div class="cover boxcaption">
                  <h3 class="tile-title">CTO 陈毅钊</h3>
                  <p class="span3">
    病入膏肓无药可救的 Linux 脑残粉一枚
    经常猝不及防不择手段地安利 Linux。
    有很多兴趣，似乎会很多东西，
    又似乎啥都不会[ 摊手 ]
    喜欢自黑 
    喜欢以特殊的方式敲打键盘
   Git官方文档简体中文翻译团队成员，
    暨大 LUG 发起者，
    善于做一些 long term 的事，
    乐观，坚持。不忘初心。
                  </p> 
                  </div>
              </div>
            </div>  
          </div>

          <div class="col-lg-4 ">
            <div class="tile tile-hot span1">
              <div class="boxgrid caption">
                <img class="tile-image" alt="" src="http://ofhwq2r7f.bkt.clouddn.com/cmo.jpg" width="280px" height="400px"/>
                  <div class="cover boxcaption">
                  <h3 class="tile-title">CMO 莫雯婷</h3>
                  <p class="span3">
   我是一只非软妹子。
对新鲜事物有着迷之热情，
但只会坚持真正热爱的东西。
我想，我要眼前的苟且，也要诗和远方。
有缘有分遇见网研，
认识一群有趣的人，
接触一些新鲜的事。
希望，也有机会，遇见你
                  </p> 
                  </div>
              </div>
            </div>  
          </div>
       
       
   
     </div>
    </section>

    <section class="success1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 style="padding-top:30px">社团活动</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-6 text-center tile">
            <h3>品牌活动
              <span class="glyphicon glyphicon-th-large"></span>
              
              <!--<img src="images/tech.png" class="img-centered img-icon" alt="">-->
            </h3>
            <h5>定期举办的“技术分享沙龙”</h5>
            <h5>每年四月份与珠海联合举办的“暨妹妹粉丝节”</h5>
            <h5>部门出游（内部消化的好时机） </h5>
            <h5>广州珠海联谊（一不小心就异地了呢好好勾搭） </h5>
           
            <hr class="star-primary">
          </div>
          <div class="col-lg-6 text-center tile">
            <!--<img src="images/tech.png"  class="img-responsive img-centered" alt="">-->
            <h3>社团方向
               <span class="glyphicon glyphicon-list-alt"></span></h3>
            <h5>互联网应用开发</h5>
            <h5>平面交互设计</h5>
            <h5>市场运营策划</h5>
            <h5>网络管理运营</h5>
            <hr class="star-primary">         
          </div>
          <div class="col-lg-6 text-center tile">
            <h3>目标
              <span class="glyphicon glyphicon-road"></span></h3>
            <h5>带你学最炫的技术</h5>
            <h5>带你做最酷的策划</h5>
            <h5>陪你做最好的推送</h5>
            <h5>在这里你可以找到志同道合的小伙伴</h5>
            <h5>然后一起修炼升级打怪</h5>
            <hr class="star-primary">
          </div>
          <div class="col-lg-6 text-center tile">
            <h3>口号
              <span class="glyphicon glyphicon-volume-up"></span>
            </h3>
            <h5>We are a young</h5>
            <h5>yet full of passion team</h5>
            <h5>which believes in fighting for meaningful things.</h5>
            <h5>一个世界中有你，一个世界中没有你，</h5>
            <h5>让两者的difference最大，这就是你一生的意义。</h5>
            <hr class="star-primary">
          </div>
        </div>
    </section>
    <section class="welcome">
      <div class="span5">
      <h3>   WE  WILL ALWAYS BE  HERE </h3>
      <h3> WAITING  FOR  YOUR COMING.</h3>
      <a class="btn btn-primary btn-large btn-block btn3" href="presign">JOIN   US</a>
      </div>
    </section>
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 暨南大学网络技术研讨会 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
