{% extends "base.html" %}
{% block title %}登录{% endblock %}

{% block content %}
    <div class="background-2">
      <div class="background-3">
        <span class="big-font">登录</span>
        <div class="underline"></div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">用户名
              <span class="glyphicon glyphicon-user span2"></span></label>
            <div class="col-sm-8">
              <input type="email" class="form-control login-box" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-4 control-label">密码
              <span class="glyphicon glyphicon-lock span2"></span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control login-box" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="check1">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> 记住我
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <button type="submit" class="btn button1">登录</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block footer %}
 <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 暨南大学网络技术研讨会 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

