
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/main.css">
	 <link href="../static/css/freelancer.css" rel="stylesheet">
	 <link href="../static/css/flat-ui.css" rel="stylesheet">
	 <link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
-->
	
	
	<script src="http://ofhwq2r7f.bkt.clouddn.com/jquery-2.2.3 (2).js"></script>
	<script src="http://ofhwq2r7f.bkt.clouddn.com/flat-ui.js"></script>
	<script src="http://ofhwq2r7f.bkt.clouddn.com/jquery.min.js"></script>
	<script src="http://ofhwq2r7f.bkt.clouddn.com/respond.min.js"></script>
	<script src="http://ofhwq2r7f.bkt.clouddn.com/html5shiv.js"></script>
	<script src="http://ofhwq2r7f.bkt.clouddn.com/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="../static/css/responsive-nav.css">
	<script src="http://ofhwq2r7f.bkt.clouddn.com/responsive-nav.min.js"></script>
	<style type="text/css">
	.label{font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu}
	header{
		height: 100px;
		background: #18bc9c;
	}

	</style>
	<script type="text/javascript">
       function perSubmit() {
 	$.ajax({
    type:"post",
    url:"/api/auth/userinfo/",
    data:$("form").serialize()
    dataType:“json”,
    error: function(request) {
    alert("注册失败，网络可能正在开小差_(:3Z)_");},
    success: function(result) {
    alert("报名成功");
});
};

	</script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   
                  
                </button>
                <a class="navbar-brand" href="#page-top">
                  <a class="navbar-brand" href="#the top">
                    <img src="http://ofhwq2r7f.bkt.clouddn.com/logo.png" width="140px" height="auto" >
                  </a>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="page-scroll">
                        <a href="login">登录</a>
                    </li>
                    <li> 
                      <a href="presign">预报名</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
</nav>
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

			</div>
		</div>
	</div>
</header>
      
<div class="well">
	<form class="form-horizontal" role="form" id="preSign" action="/api/auth/userinfo/" method="post" name="application">
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">姓名:</label>
			<div class="col-sm-8">
			<input class="form-control flat" id="name" name="name" placeholder="Enter name"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="grade">年级:</label>
			<div class="col-sm-8">
			<input class="form-control" id="grade" name="grade" placeholder="Enter grade"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="school">学院:</label>
			<div class="col-sm-8">
			<input class="form-control" id="school" name="school" placeholder="Enter college"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="major">专业:</label>
			<div class="col-sm-8">
			<input class="form-control" id="major" name="major" placeholder="Enter major"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="student_id">学号:</label>
			<div class="col-sm-8">
			<input class="form-control" id="student_id" name="student_id" placeholder="Enter your student id"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"  for="phone">电话:</label>
			<div class="col-sm-8">
			<input class="form-control" id="phone" name="phone" placeholder="Enter phone number"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="qq">QQ:</label>
			<div class="col-sm-8">
			<input class="form-control" id="qq" name="qq" placeholder="Enter qq number"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="department">意向部门:</label>
			<div class="col-sm-8">
				<input class="form-control" id="department" name="department" placeholder="Department"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="introduction">个人简介:</label>
			<div class="col-sm-8">
			<textarea class="form-control" rows="9" id="introduction" name="introduction" ></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
			<button type="submit" class="btn btn-primary btn-block" onclick="perSubmit()">Submit</button>
		</div>
		</div>
	</form>
</div>
<!--tanchuang-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="signResult">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p>...</p>
    </div>
  </div>
</div>
<div class="container">
	<div class="copy-right text-center">
		<p>Copyright © 2016 Powered by JNUgeek All Rights Reserved.</p>
	</div>
 </div>
</body>
</html>
