<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ baseinfo['name'][:3] if baseinfo['name'][3]==':' }}的个人信息</title>
</head>
<body>
    {% for key in baseinfo %}
        {% if baseinfo[key] %}
            {% if key=='name' and baseinfo[key][3]==':' %}
                {{ key }}：{{ baseinfo[key][:3] }}<br>
                {% elif key=='name' and baseinfo[key][2]==':'  %}
                {{ key }}：{{ baseinfo[key][:2] }}<br>
                {% else %}
            {{ key }}：{{ baseinfo[key] }}<br>
                {% endif %}
        {% endif %}
    {% endfor %}
</body>
</html>
